@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
}


.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 18px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";  
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #C5B358;
}
.volume-icon,
.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.volume-icon:hover,
.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.volume-icon:active,
.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
	width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.icon-volume {
	background-image: url("../assets/svg/volume-up.svg");
}
.icon-mute {
	background-image: url("../assets/svg/volume-mute.svg");
}

.timeline {
	background: #ffffff;
	width: 100%;
	height: 8px;
	position: relative;
	cursor: pointer;
	box-shadow: 0 0 40px 0 black;
	margin-bottom: 5px;
	border-radius: 10px;
	overflow: hidden;
}
.progress {
	background: #C5B358;
	width: 0%;
	height: 100%;
	transition: 0.25s;
}
.audio-time {
	font-size: 12px;
	margin-bottom: 5px;
	display: flex;
	justify-content: center;
}

.volume-container {
	cursor: pointer;
	position: relative;
	z-index: 2;
}
.volume-button {
		height: 26px;
		display: flex;
		align-items: center;
}
	.volume {
		transform: scale(1);
}
	
	.volume-slider {
		position: absolute;
		left: 32px; top: 8px;
		z-index: -1;
		width: 0;
		height: 10px;
		opacity: 0;
		visibility: hidden;
		background: white;
		box-shadow: 0 0 40px 0 black;
		transition: .25s;
		border-radius: 10px;
		overflow: hidden;
	}

	.volume-percentage {
		background: #C5B358;
		height: 100%;
		width: 75%;
	}

	.volume-container:hover .volume-slider {
		width: 100px;
		opacity: 1;
		visibility: visible;
	}


.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;  
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 25vh;
  min-height: 160px;  
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}
.quote-container {
	position: relative;
}
.quote {
  /* min-height: 32px; */
	padding-bottom: 10px;
	/* cursor: pointer; */
	z-index: 2;
	opacity: 0.8;
	transition: all 0.3s ease 0.1s;
}
.author {
	font-size: 14px;
	opacity: 0.8;
}

/* 
.author {
	cursor: pointer;
	position: absolute;
	z-index: 0;
	opacity: 0;
	visibility: hidden;
	top: 0;
	left: 50%;
	font-size: 14px;
	transform: translate( -50%, 0);
  min-height: 20px;
	transition: all 0.3s ease 0.1s;
}
.quote:hover {
	opacity: 1;
}
.quote:hover~.author {
	visibility: visible;
	opacity: 0.7;
	top: 25px;
}
.author:hover {
	visibility: visible;
	transform: translate( -50%, 0) scale(1.2);
	opacity: 1;
	top: 25px;
} */

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}

@media (max-width: 498px) {
	.header {
		padding: 10px;
	}
	.main {
		padding: 10px;
		height: 30vh;
		min-height: 0;
	}
	.footer {
		padding: 10px;
		min-height: 0;
	}
		
	
	.player {
		width: 140px;
		min-height: 160px;  
		font-size: 12px;
	}
	.volume-icon,
.player-icon,
.slider-icon,
.change-quote {
  width: 28px;
  height: 28px;
  background-size: 28px 28px;  
}
	.weather {
		align-items: flex-end;
		width: 160px;
		min-height: 160px;  
		font-size: 14px;
	}

	.description-container {
		column-gap: 8px;
	}
	
	.weather-icon {
		font-size: 32px;
	}
	
	.city {
		width: 120px;
		font-size: 16px;
	}
	
	.city::placeholder {  
		font-size: 16px;
	}

	.time {
    min-height: 60px;
    font-size: 52px;    
  }
	.date {
		Font-size: 20px;
	}

  .greeting-container {
    min-height: 30px;
    font-size: 20px;
  }

  .greeting {
    padding: 3px;
  }

  .name {
    font-size: 20px;
    padding: 3px;
  }
	.quote{
font-size: 14px;
	}
	.author {
		font-size: 12px;
	}
}